[Unit]
Description=Run initialization for using fitStatUSB device.
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash fsusb.sh
WorkingDirectory=/home/pi/pimera-cluster/services/fsusb
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
