[Unit]
Description=Service to monitor system temps, processes, etc. and blinks LED.
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/venvs/node-monitor/venv/bin/python node-monitor.py
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/pimera-cluster/services/node-monitor
StandardOutput=inherit
StandardError=inherit
Restart=always
TimeoutStartSec=infinity
SyslogIdentifier=node-monitor

[Install]
WantedBy=multi-user.target
