[Unit]
Description=Service to monitor system temps, processes, etc. and blinks LED.
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/pimera-cluster/.venv/bin/python node_monitor.py
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/pimera-cluster/services/node_monitor
StandardOutput=inherit
StandardError=inherit
Restart=always
TimeoutStartSec=infinity
SyslogIdentifier=node_monitor

[Install]
WantedBy=multi-user.target
